.App {
  text-align: center;
}

.App-logo {
  width: unset;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.tooltip-box {
  background-color: #fff;
  color: #000;
  max-width: 500px;
  box-shadow: 0px 0px 14px rgba(0,0,0,0.28);
  padding: 28px;
  text-align: center;
  border-radius: 4px;
  position: relative;
}
.tooltip-box .close-icon {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 20px;
}
.tooltip-box .text {
  color: #686868;
  line-height: 25px;
  font-size: 14px;
  margin-bottom: 0;
  font-weight: 400;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}